/* Adjust content margin for large screens */
@media (min-width: 768px) {
  .content-area {
    margin-left: 250px; /* Space for the sidebar */
    margin-top: 0;
  }
}

/* On small screens, no left margin since sidebar overlays */
@media (max-width: 767.98px) {
  .content-area {
    margin-left: 0;
  }
}
/* Dashboard.css */
.content-area {
  background-color: whitesmoke;
  color: black;
  min-height: 100vh; /* ensures full height on short pages */
  padding: 2rem;
}

.list-group-item {
  background-color: white;
  color: black;
}

